.second{
    padding: 2em;

    background: var(--secondaryColor);

    .map{
        padding-top: 2em;
        iframe{
            width: 100%;
            height: 20em;
            
        }
    }

    span{
        font-weight: bold;
    }
}

@media only screen and (min-width: 768px){

    
}




@media only screen and (min-width: 1080px){

    .second{
        padding: 4em;

        .map{
            width: 60%;
            padding: 0em 6em;
    
            iframe{
                height: 25em;
                
            }
        }
    }


    .immagini{
    
        img{
            padding: 2em;

        }
    
}


}